body {
    text-align: center;
}

table {
    width: 400px;
    border: solid #000000;
    border-width: 1px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-collapse: collapse;
}

td:first-child {
    background-color: #BEBEBE;
}

td {
    border: solid #000000;
    border-width: 2px;
    padding-left: 5px;
}

footer li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}